---
layout: default
---

<div class="home">
  <div class="container-fluid">
    <div class="col-md-8">
      <h1 class="page-heading">在线系统</h1>

      <ul>
        {% for site in site.data.sites %}
        <li>
          <h4>
            <a href="{{ site.url }}" target="_blank">{{ site.name }}</a>
          </h4>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-md-4">
      <h1 class="page-heading">新闻</h1>

      <ul class="post-list">
        {% for post in site.posts %}
        <li>
          <span class="post-meta">{{ post.date | date: "%Y-%-m-%-d" }}</span>

          <h5>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h5>
        </li>
        {% endfor %}
      </ul>

      <p class="rss-subscribe">订阅 <a href="{{ "/feed.xml " | prepend: site.baseurl }}">通过 RSS</a></p>
    </div>

  </div>
</div>
